<div class="container">

  <div class="row">

    <div class="col-md-8 offset-md-2" align="justify">

      <br><br><br>

<h1 class=" mb-4 font-weight-normal text-center">A PROPOS</h1>

<hr>

<p>

ACAB vous propose un large catalogue de photos de chat. Ces jolies portraits de chat vont permettre d'égayer vos intérieurs.

</p>

<p>

Chez les Hommes, comme chez les chats, la beauté ne doit pas être standardisée, n'oubliez-pas qu'il existe des centaines de milliers de beautés différentes. C'est ce qu'on cherche à mettre en avant chez ACAB.

</p>

<p>

Chacune de nos photos révèlent la beauté unique de chaque chat, et donc aussi de son histoire et de son vécu.

</p>

<%= image_tag('acab-sentence.png', draggable: "true", id: "cover", size: "750x200") %>

</div>

</div>

</div>