<br>
<br>
<div class="container">
<form>
  <fieldset>
    <legend>S'inscrire</legend>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <label for="exampleInputEmail1">Adresse Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="votre adresse email">
      <small id="emailHelp" class="form-text text-muted">Promis, on ne partagera votre adresse email a personne</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mot de Passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="votre mot de passe">
    </div>
     <div class="form-group">
      <label for="exampleInputPassword1">Confirmer le Mot de Passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirmation de votre mot de passe">
    </div>
    <fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Souscrire a notre newsletters
        </label>
      </div>
      <div class="form-check disabled">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          J'accepte les conditions d'utilisation
        </label>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Soumettre</button>
    <% end %>
  </fieldset>
  </form>
    <MARQUEE direction="bottom" height="100">
      <h3 style="color: #ff9292"><%= image_tag('nian.gif', draggable: "true", id: "cat") %><%= image_tag('nian.gif', draggable: "true", id: "cat") %> </h3>
    </MARQUEE>
</div>
