<div class="container-fluid">
	<div class="d-flex flex-row">
		<div class="d-flex col-7">
			<%= image_tag('c11.png', draggable: "true", id: "cover") %>
		</div>
		<div class="col-5 d-flex flex-column justify-content-center align-items-center">
				<%= image_tag('s-logo.png', draggable: "true", id: "logo", size: "150x200") %>
				<br>
		</div>
	</div>
	<div class="d-flex flex-row">
		<MARQUEE direction="left" height="25">
      <h3 style="color: #ff9292"><%= image_tag('nian.gif', draggable: "true", id: "cat", size: "100x100") %>  ALL CATS ARE BEAUTIFUL, NO MATTER WHAT THEY SAY, WORDS CAN'T BRING THEM DOWN  <%= image_tag('nian.gif', draggable: "true", id: "cat", size: "100x100") %></h3>
    </MARQUEE>
	</div>
	<br>
	<br>
	<br>
	<div class="d-flex flex-row">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
		<p>
			La beauté est subjective. Chez ACAB, le chat moche n'existe pas. Dans chaque chat réside une beauté, qu'elle soit conventielle ou marginale. Ne vous laissez pas avoir par l'homogenéisation des critères de beauté dictées par la société capitaliste. Créez votre norme, créez votre beauté.
		</p>
		<hr>
		</div>	
	</div>
