<div class="container-fluid">
	<div class="d-flex flex-row">
		<div class="d-flex col-7">
			<%= image_tag('cover.png', draggable: "true", id: "cover") %>
		</div>
		<div class="col-5 d-flex flex-column justify-content-center align-items-center">
				<h3>ACAB</h3>
<p>
Egayez votre interieur
</p>
				<button type="button" class="btn btn-primary">Acheter</button>
				<br>
		</div>
	</div>
<br>
<br>
	<div class="d-flex flex-row">
		<MARQUEE direction="left" height="25">
      <h3 style="color: black;"> "Comme quiconque les a un tant soit peu fréquentés le sait bien, les chats font preuve d’une patience infinie envers les limites de l’esprit humain. " Cleveland Amory  <img src="heart.png" style="height: 20px; width: 20px;"> </h3>
    </MARQUEE>
	</div>
<br>
<br>
	<div class="d-flex flex-row">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
		<button type="button" class="btn btn-outline-primary">A PROPOS</button>
		<hr>
		<p>
			La beaute est subjectif. Chez ACAB, il n'y a pas de chat moche. Dans chaque chat reside d'un beaute, qu'elle soit conventielle ou plus marginale. Ne vous laissez pas avoir par la dictature et l'homogeneisation des criteres de beaute dictees par la societe. Creez votre norme, creez votre beaute.
		</p>
		<p>
			ALL CATS ARE BEAUTIFUL
		</p>	
		</div>
	</div>