<div class="container-fluid">
	<div class="d-flex flex-row">
		<div class="d-flex col-7">
			<%= image_tag('c11.png', draggable: "true", id: "cover") %>
		</div>
		<div class="col-5 d-flex flex-column justify-content-center align-items-center">
				<%= image_tag('s-logo.png', draggable: "true", id: "logo") %>
				<br>
		</div>
	</div>
<br>
<br>
	<div class="d-flex flex-row">
		<MARQUEE direction="left" height="25">
      <h3 style="color: black;"><%= image_tag('loan/icons/cat/icons8-cat-50.png', draggable: "true", id: "cat") %>  ALL CATS ARE BEAUTIFUL, NO MATTER WHAT THEY SAY, WORDS CAN'T BRING THEM DOWN  <%= image_tag('loan/icons/cat/icons8-cat-50.png', draggable: "true", id: "cat") %></h3>
    </MARQUEE>
	</div>
<br>
<br>
	<div class="d-flex flex-row">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
		<button type="button" class="btn btn-outline-primary">A PROPOS</button>
		<hr>
		<p>
			La beaute est subjectif. Chez ACAB, il n'y a pas de chat moche. Dans chaque chat reside d'un beaute, qu'elle soit conventielle ou plus marginale. Ne vous laissez pas avoir par la dictature et l'homogeneisation des criteres de beaute dictees par la societe. Creez votre norme, creez votre beaute.
		</p>
		<p>
			ALL CATS ARE BEAUTIFUL
		</p>	
		</div>
	</div>