<div class="container">
    <h4 class="text-center mt-3">Cartes des évènements</h4>
    
    

      <div class="container">        
        <div class="row">

            <% @items.each do |one_item| %>
                <div class="col-lg-6 mt-4">
                    <div class="bs-component">
                    <div class="card text-center">
                        <img class="card-img-top zoom" src= <%= one_item.image_url %> alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title text-center"><%= one_item.title %></h5>
                        <p class="card-text text-center">Prix: <%= one_item.price %></p>
                        <a href="#" class="btn btn-primary ">En savoir plus</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% end %>      
        </div>
      </div>
  </div>