<footer class="container py-5 scroll-bottom">
  <hr>
  <div class="col-12 d-flex flex-row justify-content-center align-items-center">
    <div>Suivez-nous</div>
    <hr>
      <%= link_to image_tag('loan/icons/sm/fb.png', draggable: "true", id: "fb"), "http://www.facebook.com/acab" %>
      <%= link_to image_tag('loan/icons/sm/ig.png', draggable: "true", id: "ig"), "http://www.instagram.com/acab" %>
      <%= link_to image_tag('loan/icons/sm/twitter.png', draggable: "true", id: "twitter"), "http://www.twitter.com/acab" %>
      <%= link_to image_tag('loan/icons/sm/yt.png', draggable: "true", id: "yt"), "http://www.youtube.com/acab" %>
  </div>
  <hr>
  <br>
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">All Right Reserved <br>© ACAB 2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Liens externes</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.youtube.com/results?search_query=cats">Vidéos de chats</a></li>
            <li><a class="text-muted" href="https://en.wikipedia.org/wiki/Schr%C3%B6dinger%27s_cat">La Philosophie du chat</a></li>
            <li><a class="text-muted" href="https://www.petfinder.com/pet-adoption/cat-adoption/">Adoptez un chat</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">FAQ</a></li>
            <li><a class="text-muted" href="#">Chattons un peu</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>A propos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">L'equipe</a></li>
            <li><a class="text-muted" href="#">Conditions Generales</a></li>
            <li><a class="text-muted" href="#">Nos Valeurs</a></li>
          </ul>
        </div>
      </div>
</footer>